# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/telstra/node_modules
/telstra/.pnp
/telstra.pnp.js
/redux/node_modules
/redux/.pnp
/redux.pnp.js

# testing
/telstra/coverage
/redux/coverage

# production
/telstra/build
/redux/build

# misc
/telstra/.DS_Store
/telstra/.env.local
/telstra/.env.development.local
/telstra/.env.test.local
/telstra/.env.production.local

/telstra/npm-debug.log*
/telstra/yarn-debug.log*
/telstra/yarn-error.log*

/redux/.DS_Store
/redux/.env.local
/redux/.env.development.local
/redux/.env.test.local
/redux/.env.production.local

/redux/npm-debug.log*
/redux/yarn-debug.log*
/redux/yarn-error.log*
