# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/telstra/node_modules
/telstra/.pnp
/telstra.pnp.js
/react_redux/node_modules
/react_redux/.pnp
/react_redux.pnp.js

# testing
/telstra/coverage
/react_redux/coverage

# production
/telstra/build
/react_redux/build

# misc
/telstra/.DS_Store
/telstra/.env.local
/telstra/.env.development.local
/telstra/.env.test.local
/telstra/.env.production.local

/telstra/npm-debug.log*
/telstra/yarn-debug.log*
/telstra/yarn-error.log*

/react_redux/.DS_Store
/react_redux/.env.local
/react_redux/.env.development.local
/react_redux/.env.test.local
/react_redux/.env.production.local

/react_redux/npm-debug.log*
/react_redux/yarn-debug.log*
/react_redux/yarn-error.log*
